.vscode/

# UEFI Ext Build
UefiDbgExt/uefiext/
UefiDbgExt/x64/
UefiDbgExt/ARM64/
UefiDbgExt/.vs/
UefiDbgExt/uefiext.vcxproj.user

# Patina Ext Build
patina-ext/dist/
patina-ext/node_modules/
patina-ext/package-lock.json
